/* Primary bg #E5E5E5
/* Secondary bg #E5E5E5 */
/* h1 #212121
p #757575;
кнопки текст color: #FFFFFF и color: #212121
фон кнопки #2196F3;
Corner Radius: 4px

цвет при наведении на карточку rgba(33, 150, 243, 0.9) */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #FFFFFF;
  --prelast-text-color: rgba(255, 255, 255, 0.6);
  --last-text-color: rgba(255, 255, 255, 0.4);
  --accent-color: #2196F3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #F5F4FA;
  --footer-bg-color: #2F303A;
  --background-blue: rgba(33, 150, 243, 0.9);
  --background-grey: rgba(47, 48, 58, 0.8);

  }
  
body {
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  }

a {
  text-decoration: none;
  
}

/* Portfolio start*/
.cover-p {
  background-color: var(--background-blue);
  color: var(--secondary-text-color);

  font-size: 18px;
  line-height: 1.56;
}

.project-title {
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-group {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Portfolio end*/

/* Header */
.logo {
  color: var(--accent-color);

  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-span {
  color: var(--title-text-color);
}

.logofooter-span {
  color: var(--secondary-text-color);
}

.site-nav {
  letter-spacing: 0.02em;
  font-weight: 500;
}

.site-nav.contact {
  color: var(--primary-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav:visited,
.current:visited {
  color: var(--title-text-color);
} 

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
a.site-nav.current,
.site-nav.contact:hover,
.site-nav.contact:focus {
color: var(--accent-color);
}



/* Title */

h1, h2, h3, h4, h5, h6 {
  color: var(--title-text-color);

  font-weight: 700;
}

.is-hidden {
  display: none; 
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.title-products {
  color: var(--secondary-text-color);
  background-color: var(--background-grey);

  text-transform: uppercase;
}

.hero-title {
  color: var(--secondary-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
 
/* Text */

.section-text{
  line-height: 1.71;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

.hero {
  background-color: var(--footer-bg-color);
}

.button {
  color: var(--title-text-color);
  background-color: var(--filter-bg-color);

  font-family: inherit;
}

button:hover,
button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  
}

.button {
  color: var(--title-text-color);
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.button.secondary {
  background-color: var(--filter-bg-color);
  color: var(--title-text-color);
}

.button.hero {
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  letter-spacing: 0.06em;
}

.button.submit {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 900;
  line-height: 1.88;
}

.kind-products {
  line-height: 1.14;
}

.section-team {
  background-color: var(--secondary-bg-color);
}

/* Footer */
footer {
  background-color: var(--footer-bg-color)
}

address {
  color: var(--secondary-text-color);

  font-style: normal;
  line-height: 1.71;
}

.footer-contact {
  color: var(--prelast-text-color);

  line-height: 1.71;
}

.footer-p {
  color: var(--secondary-text-color);

  font-weight: 700;
  text-transform: uppercase;
}

.developed {
  color: var(--last-text-color);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}